
ng5-slider {
  bottom: 161px;
}

.custom-slider {
  margin-top: 50px;
}

.videoRow {
  margin-top: 20px;
}
.thumbnails {
  overflow: auto;
  width: 100%;
  height: auto;
  position: relative;
  background-color: #181818;

  .thumb-time {
    width: 50%;
  }
  .timeline-image {
    max-width: 100%;
    height: 85px;
  }

}

vg-player {
  max-width: 1280px;
  height: auto;
}

.padding-hor-10 {
  padding-left: 10px;
  padding-right: 10px;
}

.resizable {
  resize: both;
  overflow: auto;
}

.ng5-slider {
  height: 90px;

  .ng5-slider-bar-wrapper {
    margin-top: 0;
    padding-top: 19px;
  }
}

.cuepoints {
  background: #c2c2c2;
  width: auto;
  height: 50px;
  position: relative;
  bottom: 155px;
}

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .containerX .ng5-slider .ng5-slider-bar {
    height: 115px;
  }

  .containerX .ng5-slider {
    .ng5-slider-bar {
      background: rgba(35, 35, 35, 0.03) !important;

      &.ng5-slider-selection {

        border-top: solid 3px firebrick;
        border-bottom: solid 3px firebrick;
        background-color: rgba(80, 80, 80, 0.5) !important;
      }
    }
  }

  .containerX .ng5-slider .ng5-slider-pointer {
    cursor: col-resize;
    width: 3px;
    height: 134px;
    color: firebrick !important;
    background-color: firebrick !important;
    border-radius: 0;

    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 7.5px;
      background-color: #b22222;
      right: 5px;
      position: relative;
    }

  }

  .containerX .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .containerX .ng5-slider .ng5-slider-bubble {
    bottom: 100px;
  }

  .containerX .ng5-slider .ng5-slider-limit {

  }

  .containerX .ng5-slider .ng5-slider-tick {

  }

  .containerX .ng5-slider .ng5-slider-selection {
    color: rgba(15, 15, 15, 0.5)
  }

  .containerX .ng5-slider .ng5-slider-tick.ng5-slider-selected {

  }
}


