<div gdColumns="repeat(4, 1fr)" gdGap="15px" class="containerX">


    <vg-player (onPlayerReady)="onPlayerReady($event)" class="one" gdColumn="1/3" gdRow="1/3">
        <vg-overlay-play></vg-overlay-play>
        <vg-buffering></vg-buffering>
        <vg-controls vgFor="myVideo" [vgAutohide]="true" [vgAutohideTime]="5">
            <vg-play-pause></vg-play-pause>
            <vg-time-display vgFor="myVideo" [vgProperty]="'current'" [vgFormat]="'hh:mm:ss'"></vg-time-display>
            <vg-scrub-bar vgFor="myVideo" [vgSlider]="true">
                <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                <!--
                            <anms-scrub-bar-thumbnails [totalTime]="totalTime" [duration]="duration" [vgThumnails]="thumbnails"></anms-scrub-bar-thumbnails>
                -->
            </vg-scrub-bar>
            <vg-time-display vgFor="myVideo" [vgProperty]="'left'" [vgFormat]="'hh:mm:ss'"></vg-time-display>
            <vg-playback-button [playbackValues]="[ '1.0', '2.0', '4.0' ]"></vg-playback-button>
            <vg-track-selector vgFor="myVideo"></vg-track-selector>
            <vg-volume vgFor="myVideo"></vg-volume>
            <!-- more components here -->
        </vg-controls>
        <video #vgMedia
               #vgHls="vgHls"
               [vgMedia]="vgMedia"
               [vgHls]="'../assets/playlist.m3u8'"
               (onGetBitrates)="onGetBitrates($event, vgHls)"
               id="myVideo"
               crossorigin
        >
            <track
                    src="../../assets/default.vtt"
                    kind="metadata"
                    label="Cue Points"
                    vgCuePoints
                    (onEnterCuePoint)="onEnterCuePoint($event)"
            >
        </video>
    </vg-player>

    <div class="two" gdColumn="3/4" gdRow="1/2">
        <mat-card>
            <mat-chip-list>
                <mat-chip>TCIN: {{tcin}}
                    <button mat-button (click)="seekTcIn($event)">Seek</button>
                </mat-chip>
            </mat-chip-list>
            <img [src]="'http:'+thumb">

        </mat-card>
    </div>
    <div class="two" gdColumn="4" gdRow="1/2">

        <mat-card>
            <mat-chip-list>

                <mat-chip>TCOUT: {{tcout}}
                    <button mat-button (click)="seekTcOut($event)">Seek</button>
                </mat-chip>
            </mat-chip-list>
            <img [src]="'http:'+thumb">

        </mat-card>


    </div>
    <mat-card gdColumn="3" gdRow="2/3">Sequence duration: {{getCutDuration(tcInTimestamp, tcOutTimestamp)}}</mat-card>
    <div gdColumns="repeat(12, 1fr)" gdGap="0px"  class="custom-slider" gdColumn="1/5" gdRow="3">
        <div class="thumbnails" *ngFor="let thumbnail of thumbnails" >
            <div class="thumb-time">
                {{thumbnail.time}}
            </div>
            <img  class="timeline-image" src="{{thumbnail.src}}" alt="img">
        </div>



    </div>
    <ng5-slider
            gdColumn="1/5" gRow="4"
            [(value)]="tcInTimestamp ? tcInTimestamp : tLminValue"
            [(highValue)]="tcOutTimestamp ? tcOutTimestamp : tLmaxValue"
            [options]="tLoptions"
            (userChange)="updateValue($event)"
    >

    </ng5-slider>
    <div class="cuepoints" gdColumn="1/5" gRow="5"></div>
</div>

<!-- [vgHls]="'http://184.72.239.149/vod/smil:BigBuckBunny.smil/playlist.m3u8'"-->
<!--  http://sample.vodobox.com/planete_interdite/planete_interdite_alternate.m3u8-->
<!--
    'https://bitdash-a.akamaihd.net/content/sintel/hls/playlist.m3u8'
-->



