
.videoRow {
  margin-top: 20px;
}

vg-player {
  max-width: 1280px;
  height: auto;
}

.padding-hor-10 {
  padding-left: 10px;
  padding-right: 10px;
}


.custom-slider .ng5-slider {
  height: 90px;

  .ng5-slider-bar-wrapper {
    margin-top: 0;
    padding-top: 19px;
  }
}

// We need to use ::ng-deep to overcome view encapsulation
::ng-deep {
  .custom-slider .ng5-slider .ng5-slider-bar {
    height: 90px;
  }

  .ng5-slider {
    .ng5-slider-bar {
      background: rgba(35, 35, 35, 0.83) !important;

      &.ng5-slider-selection {
        border-top: solid 3px firebrick;
        border-bottom: solid 3px firebrick;
        background-color: #4c555a !important;
      }
    }
  }

  .custom-slider .ng5-slider .ng5-slider-pointer {
    cursor: col-resize;
    width: 3px;
    height: 104px;
    color: firebrick !important;
    background-color: firebrick !important;
    border-radius: 0;

    &::before {
      content: '';
      display: block;
      width: 12px;
      height: 12px;
      border-radius: 7.5px;
      background-color: #b22222;
      right: 5px;
      position: relative;
    }

  }

  .custom-slider .ng5-slider .ng5-slider-pointer:after {
    display: none;
  }

  .custom-slider .ng5-slider .ng5-slider-bubble {
    bottom: 100px;
  }

  .custom-slider .ng5-slider .ng5-slider-limit {

  }

  .custom-slider .ng5-slider .ng5-slider-tick {

  }

  .custom-slider .ng5-slider .ng5-slider-selection {
    color: rgba(15, 15, 15, 0.5)
  }

  .custom-slider .ng5-slider .ng5-slider-tick.ng5-slider-selected {

  }
}

